<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.color.pink.dao.ArchiveMapper">
  <resultMap id="BaseResultMap" type="com.color.pink.pojo.Archive">
    <id column="title" jdbcType="VARCHAR" property="title" />
    <result column="a_order" jdbcType="INTEGER" property="order" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <association property="articles" select="com.color.pink.dao.ArticleMapper.selectArticleByArchive" column="title"/>
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.color.pink.pojo.Archive">
    <id column="title" jdbcType="VARCHAR" property="title" />
    <result column="a_order" jdbcType="INTEGER" property="order" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <association property="articles" select="com.color.pink.dao.ArticleMapper.selectArticleByArchive2" column="title"/>
  </resultMap>

  <resultMap id="ResultMapWithoutArticle" type="com.color.pink.pojo.Archive">
    <id column="title" jdbcType="VARCHAR" property="title" />
    <result column="a_order" jdbcType="INTEGER" property="order" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>

  <select id="selectAll" resultMap="ResultMapWithoutArticle">
    SELECT * FROM archive
  </select>

  <select id="selectAllForAdmin" resultMap="BaseResultMap">
    SELECT title, img_url, a_order
    FROM archive ORDER BY a_order
  </select>

  <select id="selectAllForClient" resultMap="BaseResultMap2">
    SELECT title, img_url, a_order
    FROM archive ORDER BY a_order
  </select>

  <insert id="addArchive" parameterType="com.color.pink.pojo.Archive">
    INSERT INTO archive VALUES
    (#{title}, #{imgUrl}, #{order})
  </insert>

  <select id="getArchiveByTitle" parameterType="java.lang.String" resultType="com.color.pink.pojo.Archive">
    SELECT * FROM archive WHERE title = #{archiveTitle}
    <if test="!isAdmin">
      AND (SELECT COUNT(*) FROM article WHERE archive_title = #{archiveTitle} AND is_open = 1) > 0
    </if>
  </select>
</mapper>