<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.color.pink.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.color.pink.pojo.Tag">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="view_times" jdbcType="INTEGER" property="viewTimes" />
    <result property="articleNums" jdbcType="INTEGER" column="article_nums"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tag
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteInValidTag">
    DELETE FROM tag
    WHERE id NOT IN
    (
    SELECT DISTINCT tag_id FROM blog
    )
  </delete>
  <insert id="insert" parameterType="com.color.pink.pojo.Tag">
    insert into tag (id, title, create_date, 
      view_times)
    values (#{id,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{viewTimes,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.color.pink.pojo.Tag">
    update tag
    set title = #{title,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      view_times = #{viewTimes,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>

  <update id="updateTitle" parameterType="com.color.pink.pojo.Tag">
    update tag
    set title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, title, create_date, view_times
    from tag
    where id = #{id,jdbcType=CHAR}
  </select>

  <select id="selectAllIdAndTitle" resultType="com.color.pink.pojo.Tag">
    SELECT id, title from tag
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select t.id, t.title, t.create_date, t.view_times, COUNT(*) as article_nums
    FROM tag as t, blog as b, article as a
    WHERE t.id = b.tag_id AND a.id = b.art_id AND a.is_delete = 0
    <if test="!isAdmin">
      AND a.is_open = 1
    </if>
    GROUP BY t.id
  </select>

  <select id="selectAllTagTitle" resultType="java.lang.String">
    SELECT title FROM tag
  </select>

  <insert id="addTags" parameterType="java.util.Set">
    INSERT INTO tag(id, title, create_date, view_times)
    VALUES
    <foreach collection="tags" item="item" separator=",">
      (#{item.id}, #{item.title}, #{item.createDate}, #{item.viewTimes})
    </foreach>
  </insert>

  <select id="selectTagsTitleByArticleId" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT t.title FROM tag AS t, blog AS b WHERE t.id = b.tag_id AND b.art_id = #{artId}
  </select>

  <select id="testTagForClient" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(a.id) FROM tag AS t, blog AS b, article AS a WHERE t.title = #{title}
    AND t.id = b.tag_id AND a.id = b.art_id AND a.is_open = 1 AND a.is_delete = 0
  </select>

  <select id="testTagForAdmin" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(*) FROM tag WHERE title = #{title}
  </select>
</mapper>